extends layout

block content
    #signin
      p sign in
      form#signinForm(method='post')
        img.icon(src='./images/icon/user.png')
        input(type='text', name='username', placeholder='username', value=user.username)
        if(error)
          #error1.error #{error}
        else 
          #error1.error
        img.icon(src='./images/icon/pwd.png')
        input(type='password', placeholder='password', name='password', value=user.password)
        #error2.error
        .btn
          button#signup(type='button') sign up
          button#signinbtn(type='submit') sign in
    script(type='text/javascript', src='./javascripts/sha.js')
    script(type='text/javascript', src='./javascripts/signin.js')
